.chat__info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: #525151;
  background-color: rgb(252, 188, 190);
  padding: 20px 15px 15px 15px;
  border-radius: 5px;
}

.chat__info .left {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-messages-count,
.header-users-count {
  position: relative;
  margin-right: 50px;
}
.header-messages-count:after,
.header-users-count::after {
  display: block;
  position: absolute;
  content: ' message(s)';
  bottom: 0;
  left: 20px;
}
.header-users-count::after {
  content: ' participant(s)';
}

.message-list .collection {
  margin: 1rem 0 1rem 0;
  border-radius: 5px;
  padding: 15px;
  height: 400px;
  overflow-y: auto;
  border: 1px solid rgb(252, 188, 190);
  background-color: #fff;
}

.messages-divider {
  position: relative;
  width: 100%;
  height: 10px;
  margin: 15px 0;
  border-top: 1px solid rgb(252, 188, 190);
}

.messages-divider span {
  position: absolute;
  bottom: 0;
  width: 100px;
  background-color: #fff;
}

.message-list .collection .message {
  display: flex;
  align-items: center;
  width: 70%;
  border: 1px solid rgb(252, 188, 190);
  border-radius: 5px;
  margin-bottom: 10px;
}

.message-intro {
  padding: 5px 10px;
  width: 90%;
}

.message-user-name {
  text-align: left;
  font-weight: bold;
}

.message-text {
  text-align: left;
}

.message-time {
 text-align: right;
 font-size: 0.8rem;
}

.message-like,
.message-liked,
.message-edit,
.message-delete {
  margin-left: 15px;  
}

.message-like,
.message-edit,
.message-delete{  
  color: rgb(252, 188, 190);
}

.message-liked {
  color: rgb(229, 115, 115);
}

.message-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

textarea.materialize-textarea {
  padding: 5px 15px;
  margin: 0 15px 0 0;
  border: 1px solid rgb(252, 188, 190);
  overflow-y: auto;
}

.message-input textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid rgb(229, 115, 115);
  box-shadow: none;
}

/* Modal */
.modal {
  top: 100px;
  display: block;
}

.modal.edit-message-modal button {
  min-width: 100px;
}

.modal.edit-message-modal .edit-message-button {
  margin-left: 15px;
}

.modal button i {
  display: none;
}

.modal-shown {
  display: block;
}
