.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.display-none {
  display: none;
}

.material-icons:hover {
  color: rgb(229, 115, 115);
}


.message-liked {
  color: rgb(229, 115, 115);
}